/* position at top
have it be a certain height and fixed at the top of the body
have it expand to become larger and take over the whole display.


sitetitle at the top

different pages slide down
on larger screens do not and just expand out(60em)
*/
.nav {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 6em;
  width: 100%;
  position: relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  overflow-y: hidden; /* Disable vertical scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.nav-open {
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9)
}

.navToggle {
  top: 0px; 
  right: 0px 
}